<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Browsing and Face Tagging</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <h1 class="mt-5">Image Browsing and Face Tagging</h1>

    <div class="row mt-4">
        {% for image_name in images %}
            <div class="col-md-4 mb-4">
                <div style="position: relative;">
                    <img src="{{ url_for('static', filename='img/' + image_name) }}" onload="resizeBoundingBoxes(this)" alt="Image" class="img-fluid" data-toggle="lightbox">
                    {% for rect in face_coordinates.get(image_name, []) %}
                    <div class="bounding_boxes" style="position: absolute; 
                        top: {{ rect[0][1] }}px; 
                        left: {{ rect[0][0] }}px; 
                        width: {{ (rect[1][0]-rect[0][0]) }}px; 
                        height: {{ (rect[1][1]-rect[0][1]) }}px; 
                        border: 2px solid red;"
                        data-image="{{ image_name }}"
                        data-face-index="{{ loop.index0 }}"
                        data-original-left="{{ rect[0][0] }}"
                        data-original-top="{{ rect[0][1] }}"
                        data-original-width="{{ (rect[1][0]-rect[0][0]) }}"
                        data-original-height="{{ (rect[1][1]-rect[0][1]) }}"
                        onclick="showTagModal(this, '{{ rect[0][0] }}', '{{ rect[0][1] }}', '{{ (rect[1][0]-rect[0][0]) }}', '{{ (rect[1][1]-rect[0][1]) }}');">
                    </div>

                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-5">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if current_page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('browse_images', directory_name=directory_name, page=current_page-1) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for i in range(1, total_pages+1) %}
                    <li class="page-item{% if i == current_page %} active{% endif %}"><a class="page-link" href="{{ url_for('browse_images', directory_name=directory_name, page=i) }}">{{ i }}</a></li>
                {% endfor %}
                {% if current_page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('browse_images', directory_name=directory_name, page=current_page+1) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>


<!-- Tagging Modal -->
<div class="modal" id="tagModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div style="position: relative;">
                    <img id="modal-image" src="" alt="Selected Image" style="width: 100%; display: block; margin-bottom: 10px;">
                    <div id="bounding-boxes"></div> <!-- Container for bounding boxes -->
                </div>
                <form action="{{ url_for('api_tag_face') }}" method='post'>
                    <label for='student_id'>Tag with Student ID:</label>
                    <select name='student_id' id="student-dropdown">
                        {% for student in students %}
                        <option value='{{ student.id }}'>{{ student.name }}</option>
                        {% endfor %}
                    </select>
                    <input type='hidden' name='x' id="modal-x">
                    <input type='hidden' name='y' id="modal-y">
                    <input type='hidden' name='w' id="modal-w">
                    <input type='hidden' name='h' id="modal-h">
                    <input type='hidden' name='directory_name' id="modal-directory-name" value="{{ directory_name }}">
                    <input type='hidden' name='image_name' id="modal-image-name">
                    </select>

                    <button type='submit' class='btn btn-primary mt-2'>Tag Face</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script>

    function showTagModal(element, x, y, w, h) {
        const imageName = $(element).data('image');
        const faceIndex = $(element).data('face-index'); 
    
        $('#modal-x').val(x);
        $('#modal-y').val(y);
        $('#modal-w').val(w);
        $('#modal-h').val(h);
        $('#modal-image-name').val(imageName);
        // Add this line to set the directory name. Since you've already set its value in HTML, you might not need this.
        // But ensure the HTML value is correct.
        //$('#modal-directory-name').val('YourDirectory');  
            
        $('#tagModal').modal('show');

        // Wait for the modal to be fully shown, then adjust the bounding boxes
        $('#tagModal').on('shown.bs.modal', function (e) {
            resizeBoundingBoxes(document.getElementById('modal-image'));
        })
    }

    function resizeBoundingBoxes(imgElement) {
        // Get the original and current width/height of the image.
        var originalWidth = imgElement.naturalWidth;
        var originalHeight = imgElement.naturalHeight;
        var currentWidth = imgElement.offsetWidth;
        var currentHeight = imgElement.offsetHeight;
    
        // Compute the scale factors.
        var widthScale = currentWidth / originalWidth;
        var heightScale = currentHeight / originalHeight;
    
        // Find all bounding boxes associated with this image and scale their dimensions.
        var boundingBoxes = imgElement.parentNode.querySelectorAll('#bounding-boxes > div');

        boundingBoxes.forEach(function(box) {
            // Fetch the original coordinates and dimensions.
            var originalLeft = parseFloat(box.getAttribute('data-original-left'));
            var originalTop = parseFloat(box.getAttribute('data-original-top'));
            var originalWidth = parseFloat(box.getAttribute('data-original-width'));
            var originalHeight = parseFloat(box.getAttribute('data-original-height'));
    
            // Apply the scale factors.
            box.style.left = (originalLeft * widthScale) + 'px';
            box.style.top = (originalTop * heightScale) + 'px';
            box.style.width = (originalWidth * widthScale) + 'px';
            box.style.height = (originalHeight * heightScale) + 'px';
        });
    }
    
    
    
    
    
    
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        var imgSrc = $(this).attr('src');
        var boxes = [];
        
        // Extract bounding boxes from clicked image
        $(this).siblings('div').each(function(index, el) {
            var boxData = {
                x: $(el).css('left'),
                y: $(el).css('top'),
                w: $(el).css('width'),
                h: $(el).css('height'),
                originalLeft: $(el).data('original-left'),
                originalTop: $(el).data('original-top'),
                originalWidth: $(el).data('original-width'),
                originalHeight: $(el).data('original-height'),
                index: $(el).data('face-index')
            };
            boxes.push(boxData);
        });
        
        // Display bounding boxes in modal
        var boxesHtml = '';
        boxes.forEach(function(box, index) {
            boxesHtml += `
            <div style="position: absolute; top: ${box.y}px; left: ${box.x}px; width: ${box.w}px; height: ${box.h}px; border: 2px solid red; color: white; text-align: center; line-height: ${box.h}px;" 
            data-image="${imgSrc}"  
            data-face-index="${index}"
            data-original-left="${box.originalLeft}"
            data-original-top="${box.originalTop}"
            data-original-width="${box.originalWidth}"
            data-original-height="${box.originalHeight}"
            data-index="${index}">${index + 1}</div>`;
            });
        $('#bounding-boxes').html(boxesHtml);
        
        $('#modal-image').attr('src', imgSrc).on('load', function() {
            // Adjust the bounding boxes after the modal image has fully loaded
            resizeBoundingBoxes(this);
            $('#tagModal').modal('show');
        });
        $('#tagModal').modal('show');
    });

    
    $(document).on('click', '#bounding-boxes div', function() {
        const boxNumber = parseInt($(this).text()) - 1; // Convert to zero-based index
        const studentId = $('#student-dropdown').val();
        const imageInfo = $(this).data('image');


        const imageName = $('#modal-image-name').val();
        
        // Log for debugging purposes
        console.log(`Tagging face at index ${boxNumber} on image ${imageName}...`);
    
        // Add a confirmation before tagging
        const isConfirmed = confirm('Are you sure you want to tag this face?');
        if (!isConfirmed) {
            return;  // If the user chooses to cancel, exit the function
        }
    
        $.ajax({
            url: "{{ url_for('api_tag_face') }}",
            method: 'POST',
            data: {
                student_id: studentId,
                filename: imageInfo , // Send the image name
                face_index: boxNumber  // Send the face index
            },
            success: function(response) {
                $('#tagModal').modal('hide');
                alert('Face tagged successfully!');
            },
            error: function(error) {
                console.error("Error:", error);  // Log the error for debugging
                alert('Error tagging the face. Please try again.');
            }
        });
    });
    
    
    
</script>

</body>

</html>
